<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.hcisme.note.mappers.UserMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="User">
        <!--用户ID-->
        <result column="id" property="id"  />
        <!--用户名-->
        <result column="username" property="username"  />
        <!--账号-->
        <result column="email" property="email"  />
        <!--密码-->
        <result column="password" property="password"  />
        <!--创建时间-->
        <result column="created_time" property="createdTime"  />
        <!--最后修改时间-->
        <result column="updated_time" property="updatedTime"  />
        <!--最后登录时间-->
        <result column="last_login_time" property="lastLoginTime"  />
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        u.id,u.username,u.email,u.password,u.created_time,
		 u.updated_time,u.last_login_time
    </sql>

    <sql id="base_condition_filed">
        <if test="query.id != null and query.id!=''">
            and  u.id = #{query.id}
        </if>
        <if test="query.username != null and query.username!=''">
            and  u.username = #{query.username}
        </if>
        <if test="query.email != null and query.email!=''">
            and  u.email = #{query.email}
        </if>
        <if test="query.password != null and query.password!=''">
            and  u.password = #{query.password}
        </if>
        <if test="query.createdTime != null and query.createdTime!=''">
            <![CDATA[ and  u.created_time=str_to_date(#{query.createdTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.updatedTime != null and query.updatedTime!=''">
            <![CDATA[ and  u.updated_time=str_to_date(#{query.updatedTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.lastLoginTime != null and query.lastLoginTime!=''">
            <![CDATA[ and  u.last_login_time=str_to_date(#{query.lastLoginTime}, '%Y-%m-%d') ]]>
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed" />
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed" />
            <if test="query.idFuzzy!= null  and query.idFuzzy!=''">
                and  u.id like concat('%', #{query.idFuzzy}, '%')
            </if>
            <if test="query.usernameFuzzy!= null  and query.usernameFuzzy!=''">
                and  u.username like concat('%', #{query.usernameFuzzy}, '%')
            </if>
            <if test="query.emailFuzzy!= null  and query.emailFuzzy!=''">
                and  u.email like concat('%', #{query.emailFuzzy}, '%')
            </if>
            <if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
                and  u.password like concat('%', #{query.passwordFuzzy}, '%')
            </if>
            <if test="query.createdTimeStart!= null and query.createdTimeStart!=''">
                <![CDATA[ and  u.created_time>=str_to_date(#{query.createdTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createdTimeEnd!= null and query.createdTimeEnd!=''">
                <![CDATA[ and  u.created_time< date_sub(str_to_date(#{query.createdTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.updatedTimeStart!= null and query.updatedTimeStart!=''">
                <![CDATA[ and  u.updated_time>=str_to_date(#{query.updatedTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.updatedTimeEnd!= null and query.updatedTimeEnd!=''">
                <![CDATA[ and  u.updated_time< date_sub(str_to_date(#{query.updatedTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.lastLoginTimeStart!= null and query.lastLoginTimeStart!=''">
                <![CDATA[ and  u.last_login_time>=str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.lastLoginTimeEnd!= null and query.lastLoginTimeEnd!=''">
                <![CDATA[ and  u.last_login_time< date_sub(str_to_date(#{query.lastLoginTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map" >
        SELECT <include refid="base_column_list" /> FROM user u <include refid="query_condition" />
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer" >
        SELECT count(1) FROM user u <include refid="query_condition" />
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="bean.id != null">
                id,
            </if>
            <if test="bean.username != null">
                username,
            </if>
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.password != null">
                password,
            </if>
            <if test="bean.createdTime != null">
                created_time,
            </if>
            <if test="bean.updatedTime != null">
                updated_time,
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="bean.id!=null">
                #{bean.id},
            </if>
            <if test="bean.username!=null">
                #{bean.username},
            </if>
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.password!=null">
                #{bean.password},
            </if>
            <if test="bean.createdTime!=null">
                #{bean.createdTime},
            </if>
            <if test="bean.updatedTime!=null">
                #{bean.updatedTime},
            </if>
            <if test="bean.lastLoginTime!=null">
                #{bean.lastLoginTime},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                id,
            </if>
            <if test="bean.username != null">
                username,
            </if>
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.password != null">
                password,
            </if>
            <if test="bean.createdTime != null">
                created_time,
            </if>
            <if test="bean.updatedTime != null">
                updated_time,
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.id!=null">
                #{bean.id},
            </if>
            <if test="bean.username!=null">
                #{bean.username},
            </if>
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.password!=null">
                #{bean.password},
            </if>
            <if test="bean.createdTime!=null">
                #{bean.createdTime},
            </if>
            <if test="bean.updatedTime!=null">
                #{bean.updatedTime},
            </if>
            <if test="bean.lastLoginTime!=null">
                #{bean.lastLoginTime},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.id!=null">
                id = VALUES(id),
            </if>
            <if test="bean.username!=null">
                username = VALUES(username),
            </if>
            <if test="bean.email!=null">
                email = VALUES(email),
            </if>
            <if test="bean.password!=null">
                password = VALUES(password),
            </if>
            <if test="bean.createdTime!=null">
                created_time = VALUES(created_time),
            </if>
            <if test="bean.updatedTime!=null">
                updated_time = VALUES(updated_time),
            </if>
            <if test="bean.lastLoginTime!=null">
                last_login_time = VALUES(last_login_time),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="User">
        INSERT INTO user(
        id,
        username,
        email,
        password,
        created_time,
        updated_time,
        last_login_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.username},
            #{item.email},
            #{item.password},
            #{item.createdTime},
            #{item.updatedTime},
            #{item.lastLoginTime}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="User">
        INSERT INTO user(
        id,
        username,
        email,
        password,
        created_time,
        updated_time,
        last_login_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.username},
            #{item.email},
            #{item.password},
            #{item.createdTime},
            #{item.updatedTime},
            #{item.lastLoginTime}
            )
        </foreach>
        on DUPLICATE key update
        id = VALUES(id),
        username = VALUES(username),
        email = VALUES(email),
        password = VALUES(password),
        created_time = VALUES(created_time),
        updated_time = VALUES(updated_time),
        last_login_time = VALUES(last_login_time)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="UserQuery">
        UPDATE user u
        <set>
            <if test="bean.id != null">
                id = #{bean.id},
            </if>
            <if test="bean.username != null">
                username = #{bean.username},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.createdTime != null">
                created_time = #{bean.createdTime},
            </if>
            <if test="bean.updatedTime != null">
                updated_time = #{bean.updatedTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
        </set>
        <include refid="query_condition" />
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete u from user u
        <include refid="query_condition" />
    </delete>

    <!-- 根据Id修改-->
    <update id="updateById" parameterType="User">
        UPDATE user
        <set>
            <if test="bean.username != null">
                username = #{bean.username},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.createdTime != null">
                created_time = #{bean.createdTime},
            </if>
            <if test="bean.updatedTime != null">
                updated_time = #{bean.updatedTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 根据Id删除-->
    <delete id="deleteById">
        delete from user where id=#{id}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectById" resultMap="base_result_map" >
        select <include refid="base_column_list" /> from user u where id=#{id}
    </select>

    <!-- 根据Email修改-->
    <update id="updateByEmail" parameterType="User">
        UPDATE user
        <set>
            <if test="bean.id != null">
                id = #{bean.id},
            </if>
            <if test="bean.username != null">
                username = #{bean.username},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.createdTime != null">
                created_time = #{bean.createdTime},
            </if>
            <if test="bean.updatedTime != null">
                updated_time = #{bean.updatedTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
        </set>
        where email=#{email}
    </update>

    <!-- 根据Email删除-->
    <delete id="deleteByEmail">
        delete from user where email=#{email}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByEmail" resultMap="base_result_map" >
        select <include refid="base_column_list" /> from user u where email=#{email}
    </select>

</mapper>