<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10 minutes">
    <!-- 引入 spring-boot 默认的 logback 配置文件 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="LOG_PATH" source="log.path"/>
    <springProperty scope="context" name="LOG_ROOT_LEVEL" source="log.root.level"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <property name="LOG_FOLDER" value="logs"/>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FOLDER}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${LOG_FOLDER}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>30</maxHistory>
            <MaxFileSize>20MB</MaxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>
                %d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- %applicationName[%15.15t] ${LOG_CORRELATION_PATTERN:-}%-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener"
            level="error"/>
    <logger name="org.redisson.connection.DNSMonitor" level="error"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="io.lettuce.core" level="info"/>
    <logger name="org.springframework.data.redis" level="info"/>
    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="File"/>
    </root>

</configuration>